# Ignore Python-related files
config.py
setup.py
**/__pycache__/

# Ignore virtual environment directories
venv/

# Ignore editor/IDE configuration files
.idea/
.vscode/

# Ignore all files in data/ except README.md
data/
!data/README.md

# Ignore all files in substack_html_pages/ except README.md
substack_html_pages/*
!substack_html_pages/README.md

# Ignore substack_md_files directory
/substack_md_files/
